<h1>Editar exercício</h1>
<form action="/exercicios/<%= exercicio.id %>?_method=PUT" method="POST">
    <label for="exercicio">Tipo de Treino:</label> 
    <select class="form-control" id="exercicio" name="exercicio" required>
        <option value="Braço" <%= exercicio.exercicio === 'Braço' ? 'selected' : '' %>>Braço</option>
        <option value="Perna" <%= exercicio.exercicio === 'Perna' ? 'selected' : '' %>>Perna Completo</option>
        <option value="Ombro e Abdomen" <%= exercicio.exercicio === 'Ombro e Abdomen' ? 'selected' : '' %>>Ombro e Abdomen</option>
        <option value="Costas" <%= exercicio.exercicio === 'Costas' ? 'selected' : '' %>>Costas</option>
        <option value="Peito" <%= exercicio.exercicio === 'Peito' ? 'selected' : '' %>>Peito</option>
    </select>
    <div class="form-group">
        <label for="repeticao">Repetições:</label>
        <input type="number" class="form-control" id="repeticao" name="repeticao" value="<%= exercicio.repeticao %>" required>
    </div>
    <div class="form-group">
        <label for="serie">Séries:</label>
        <input type="number" class="form-control" id="serie" name="serie" value="<%= exercicio.serie %>" required>
    </div>
    <div class="form-group">
        <label for="duracao">Duração:</label>
        <input type="time" class="form-control" id="duracao" name="duracao" value="<%= exercicio.duracao %>" required>
    </div>
    <div class="form-group">
        <label for="aplicabilidade">Aplicabilidade:</label>
        <input type="text" class="form-control" id="aplicabilidade" name="aplicabilidade" value="<%= exercicio.aplicabilidade %>" required>
    </div>
    <div class="form-group">
        <label for="musicas">Música:</label>
        <select class="form-control" id="musicas" name="musicas" required>
            <% musicas.forEach(musica => { %>
                <option value="<%= musica.id %>" <%= exercicio.musicas == musica.id ? 'selected' : '' %>><%= musica.nome %></option>
            <% }) %>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Salvar</button>
</form>
