<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Filtrar Exercícios</title>
    <link rel="stylesheet" href="/path/to/bootstrap.css">
</head>
<body>
    <div class="container">
        <h1>Filtrar Exercícios</h1>
        <form method="GET" action="/exercicios/filter">
            <!-- Campos de filtro para os exercícios -->
            <div class="form-group">
                <label for="exercicio">Tipo de Treino:</label>
                <select class="form-control" id="exercicio" name="exercicio">
                    <option value="">Todos</option>
                    <option value="Braço">Braço</option>
                    <option value="Perna">Perna Completo</option>
                    <option value="Ombro e Abdomen">Ombro e Abdomen</option>
                    <option value="Costas">Costas</option>
                    <option value="Peito">Peito</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Filtrar</button>
        </form>
        <table class="table table-striped mt-3">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Exercício</th>
                    <th>Música</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <% exercicios.forEach((exercicio, index) => { %>
                    <tr>
                        <td><%= index + 1 %></td>
                        <td><%= exercicio.exercicio %></td>
                        <td><%= exercicio.musicas %></td> <!-- Mostrar o nome da música -->
                        <td>
                            <a href="/exercicios/<%= exercicio.id %>" class="btn btn-info">Visualizar</a>
                            <a href="/exercicios/<%= exercicio.id %>/edit" class="btn btn-warning">Editar</a>
                            <form action="/exercicios/<%= exercicio.id %>?_method=DELETE" method="POST" style="display:inline;">
                                <button type="submit" class="btn btn-danger">Excluir</button>
                            </form>
                        </td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </div>
    <script src="/path/to/bootstrap.js"></script>
</body>
</html>
