<h1>Lista de Vendas</h1>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Usuário</th>
            <th>Produto</th>
            <th>Quantidade</th>
            <th>Valor</th>
            <th>Valor Total</th>
            <th>Data</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        <% vendas.forEach(venda => { %>
            <tr>
                <td><%= venda.id_venda %></td>
                <td><%= venda.usuario_nome %></td>
                <td><%= venda.produto_nome %></td>
                <td><%= venda.quantidade %></td>
                <td><%= venda.precototal %></td>
                <td><%= venda.valor_total %></td>
                <td><%= venda.data %></td>
                <td>
                    <a href="/vendas/<%= venda.id_venda %>" class="btn btn-primary">Ver</a>
                    <a href="/vendas/<%= venda.id_venda %>/edit" class="btn btn-warning">Editar</a>
                    <form action="/vendas/<%= venda.id_venda %>?_method=DELETE" method="POST" style="display: inline;">
                        <button type="submit" class="btn btn-danger">Excluir</button>
                    </form>
                </td>
            </tr>
        <% }) %>
    </tbody>
</table>