<h1>Lista de vendas</h1>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Quantidade</th>
            <th>valor</th>
            <th>Data_venda</th>
            <th>users</th>
            <th>produtos</th>
        </tr>
    </thead>
    <tbody>
        <% vendas.forEach(venda => { %>
            <tr>
                <td><%= venda.id %></td>
                <td><%= venda.quantidade %></td>
                <td><%= venda.valor %></td>
                <td><%= venda.data_venda %></td>
                <td><%= venda.users %></td>
                <td><%= venda.produtos %></td>
                <td>
                    <a href="/venda/<%= venda.id %>" class="btn btn-primary">View</a>
                    <a href="/venda/<%= venda.id %>/edit" class="btn btn-warning">Edit</a>
                    <form action="/venda/<%= venda.id %>?_method=DELETE" method="POST" style="display: inline;">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
        <% }) %>
    </tbody>
</table>
