<h1>Detalhes da Venda</h1>
<p>ID da Venda: <%= vendas.id_vendas %></p>
<p>ID do Usuário: <%= vendas.id_user %></p>
<p>ID do Produto: <%= vendas.id_produto %></p>
<p>Quantidade: <%= vendas.quantidade %></p>
<p>Valor Total: <%= vendasvalor_total %></p>
<p>Data: <%= vendas.data %></p>

<a href="/vendas" class="btn btn-primary">Voltar à Lista</a>
