<h1>venda Details</h1>
<p>ID: <%= venda.id %></p>
<p>Nome: <%= venda.nome %></p>
<p>Descrição: <%= venda.descricao %></p>
<p>Preço: <%= venda.preco %></p>
<p>Quantidade: <%= venda.quantidade %></p>
<p>Categoria: <%= venda.categoria_nome %></p>
<a href="/vendas" class="btn btn-primary">Back to List</a>
