<h1>Detalhes da Venda</h1>
<p>ID: <%= venda.id_venda %></p>
<p>Usuário: <%= venda.usuario_nome %></p>
<p>Produto: <%= venda.produto_nome %></p>
<p>Quantidade: <%= venda.quantidade %></p>
<p>Valor: <%= venda.precototal %></p>
<p>Valor Total: <%= venda.valor_total %></p>
<p>Data: <%= venda.data %></p>
<a href="/vendas" class="btn btn-primary">Voltar para a Lista</a>