<h1>Detalhes das Vendas</h1>
<p>ID: <%= venda.id %></p>
<p>Nome: <%= venda.nome %></p>
<p>Descrição: <%= venda.descricao %></p>
<p>Quantidade: <%= venda.quantidade %></p>
<p>Valor Total: <%= venda.valor_total %></p>
<p>Categoria: <%= venda.categoria_nome %></p> /*-- Arrumar isso daqui --*/
<a href="/vendas" class="btn btn-primary">Voltar para a Listat</a>
