<h1>Venda Details</h1>
<p>ID: <%= venda.id %></p>
<p>Nome: <%= venda.quantidade %></p>
<p>Descrição: <%= venda.valor %></p>
<p>Preço: <%= venda.data_venda %></p>
<p>Quantidade: <%= venda.users_username %></p>
<p>Categoria: <%= venda.produtos_nome %></p>
<a href="/vendas" class="btn btn-primary">Back to List</a>
