<h1>Detalhes da Venda</h1>
<p>ID: <%= venda.id %></p>
<p>ID do Usuário: <%= venda.idUser %></p>
<p>ID do Produto: <%= venda.idProduct %></p>
<p>Quantidade: <%= venda.quantidade %></p>
<p>Valor Total: R$ <%= venda.valorTotal.toFixed(2) %></p>
<p>Data da Venda: <%= venda.DataVenda.toISOString().split('T')[0] %></p>
<a href="/vendas" class="btn btn-primary">Voltar para a Lista</a>
