<h1>Detalhes da Venda</h1>
<p>ID da Venda: <%= venda.id_vendas %></p>
<p>ID do Usuário: <%= venda.id_user %></p>
<p>ID do Produto: <%= venda.id_produto %></p>
<p>Quantidade: <%= venda.quantidade %></p>
<p>Valor Total: <%= venda.valor_total %></p>
<p>Data: <%= venda.data %></p>

<a href="/vendas" class="btn btn-primary">Voltar à Lista</a>
